@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner-indicator {
  display: none;
}

.htmx-request .spinner-indicator {
  display: inline-flex;
}
.htmx-request.spinner-indicator {
  display: inline-flex;
}